@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Upload dos arquivos .Ofx</h1>

    <form enctype="multipart/form-data" method="post" asp-controller="Home" asp-action="UploadFiles">
        <label>Arquivos Ofx: <input type="file" id="FormFiles" name="FormFiles" multiple="multiple"></label>
        <input class="button" type="submit" value="Enviar">
    </form>
</div>
